# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Django migrations
backend/apps/academic/migrations/0001_initial.py
backend/apps/*/migrations/__pycache__/
backend/apps/*/migrations/__init__.py

# Environment
.env
.env.*
!.env.example
venv/
env/
.venv/

/backend_1

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

frontend/node_modules/