@import './utilities.css';

:root {
  --primary-color: #013b4f;
  --secondary-color: #f65403;
  --accent-color: #444343;
  --accent-color-2-0: #222222;

  --success-color: #0ed145;
  --danger-color: #ec1c24;
  --warning-color: #fff200;

  --background-color: #dde1e3;
  --white-color: #ffffff;
  --grey-color: #bbc2cc;
}

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.el-form-item{
  margin-bottom:1px;
}